  s.name = "cssdryer2"
  s.version = "0.1.4"
  s.author = "Roman Snitko"
  s.email = "roman@snitko.ru"
  s.homepage = "http://github.com/snitko/cssdryer2"
  s.summary = "Parses dry css files and generates conventional css"
  s.files = $files
  s.require_path = "lib"
  s.test_files = $test_files
  s.add_dependency("activeresource")
